.navbar{
  background: var(--inverted-bg-color);
  height: var(--navbar-height);
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px;
}

.theme_toggle{
  display: none;
}

.main_link{
  margin-right: 20px;
}

.about_link{
  margin-right:20px;
}

.active_link{
  color: #70f10b;
}

a:hover{
  color: aliceblue;
}
